/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
h1 {
  font-size: smaller;
  
  padding: 0px 700px;
  
}
button{
  /*Change the width as much as you like, but make sure 
  margin-left and margin-right + width = 100%*/
  margin: 0 auto;
  display: block;
  
}
input{
  margin: 0 auto;
  display: block;

}
h2 {
  font-size: 15px;
  
  padding: 0px 700px;
  
}
h3 {
  font-size: 15px;
}
.app-container {
			  height: 100vh;
			  width: 100%;
			}
			.complete {
			  text-decoration: line-through;
			}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
