/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
@media screen and (max-width: 575px) {
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
}
.alt{
  display: block;
  margin: 0 auto;
}
.title {
  font-family: "Raleway", sans-serif;
}

.line {
  line-height: 1.9em;
  font-family: "Crimson Text", serif;
}
@media screen and ( max-width:770px){

  .facebook-container{
    width: 300px;
  }
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
h1 {
  font-size: smaller;
  
  padding: 0px 700px;
  
}
button{
  /*Change the width as much as you like, but make sure 
  margin-left and margin-right + width = 100%*/
  margin: 0 auto;
  display: block;
  
}
input{
  margin: 0 auto;
  display: block;
  align-content: center;
}
h1 {
  
  font-size: smaller;
  
  padding: 0px 700px;
  
}
h2 {
  font-size: 15px;
  
  padding: 0px 700px;
  
}
h3 {
  font-size: 15px;
}
.app-container {
			  height: 100vh;
			  width: 100%;
			}
			.complete {
			  text-decoration: line-through;
			}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
